* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 500px;
    width: 500px;
    min-width: 500px;
    border: 1px solid #20bbef;
    border-radius:10px;
    overflow: hidden;
}

.top{
    width: 100%;
    height: 80px;
    background-color: #f5f9fc;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 0 20px;
    position: relative;
}

.top span{
    background-color: #20bbef;
    padding: 5px 20px;
    border-radius: 20px;
    margin-left: 20px;
    color:white;
}


input{
    height:30px; 
    width:0px;
    border:2px solid #20bbef;
    border-radius:20px;
    font-size:18px;
    transition:all 0.5s ease 0s;
    position:absolute;
    right:20px;
    opacity:0;
  }
  
  input:focus {
      outline: none;
  }
  
  input::placeholder {
      font-size:16px;
      opacity:0.3;
  }
  
  .expandinput{
     padding:0 40px 0 15px;
     width:250px;
     opacity: 1;
  }
  
  
  button{
    color:white;
    background-color:#20bbef;
    width:30px;
    height:30px;
    border-radius:50%;
    font-size:18px;
    border:none;
    cursor:pointer;
    position:absolute;
    right:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    outline: none;
  }
  
  button:hover{
    transform:scale(1.2);
    background-color: #20bbef;
  }

.bottom{
    height: 420px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.bottom li p{
    line-height: 25px;
    width: 345px;
    letter-spacing: 1px;
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis; 
}


/* Hide scrollbar for Chrome, Safari and Opera */
.bottom::-webkit-scrollbar {
    display: none;
}

ul{
    list-style: none;
}

li{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 40px;
}

/* ul li:nth-child(1){
    opacity: 0.2;
} */

.fa-check{
    border-radius: 50%;
    padding:8px;
    color:lightgrey;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.5s ease;
 
}

.checkdot{
    min-width:30px;
    width:30px;
    height:30px;
    border-radius:50%;
    border: 2px solid #20bbef;
    transition:all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.checkdot:hover{
    cursor:pointer;
}


.bullet{
    display:inline-block;
    min-width:10px;
    height:10px;
    border-radius:50%;
    background-color:#20bbef;
    margin-right:20px;
  }


  .daydatemonth{
    font-size: 14px;
    font-weight: bold;
  }

  .task{
    max-width: 345px;
    margin-right: 10px;
  }



/* completed tasks css */

.checkdot-border{
    border: 2px solid lightgrey;
}

.bullet-bggrey{
    background-color: lightgrey;
    transition:all 0.2s ease;
}

.done-task{
    color: lightgrey;
    text-decoration: line-through;
    transition:all 0.2s ease;
}

.checkmark{
    opacity: 1;
}


